<footer>
  <section class="description-section">
    <div>
      <p class="subtitles">About You!</p>
      <p class="description">
        Besides programming, I enjoy traveling, exploring new countries, and experiencing different
        cultures and their food. At home, I love cooking, watching good movies, and playing
        story-driven computer games.
      </p>
    </div>

    <div>
      <p class="subtitles">Dynamic Part</p>
      <p class="description">
        Here is the dynamically updating time that reflects the current moment:
      </p>
      <p class="description">
        <strong> {{ currentDateTime().date }} {{ currentDateTime().time }} </strong>
      </p>
    </div>

    <div>
      <p class="subtitles">Contact</p>
      <p class="description">Mateusz Lewkowicz</p>
      <p class="description">{{ '882160081' }}</p>
      <p class="description">{{ 'mlewkowicz3@gmail.com' }}</p>
    </div>
  </section>

  <section>
    <div class="social-media-icons">
      <a href="#">
        <img src="assets/instagram.svg" alt="Instagram" />
      </a>
      <a href="#">
        <img src="assets/twitter.svg" alt="Twitter" />
      </a>
      <a href="#">
        <img src="assets/facebook.svg" alt="Facebook" />
      </a>
    </div>
  </section>
</footer>
